<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MovieVerse{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="{% static 'movies/css/custom.css' %}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home' %}">MovieVerse</a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">Home</a>
                <a class="navbar-item" href="{% url 'movie_list' %}">Movies</a>
                <a class="navbar-item" href="{% url 'reviews' %}">Reviews</a>
            </div>

            <div class="navbar-end">
                <a class="navbar-item" href="{% url 'login' %}">Login</a>
                <a class="navbar-item" href="{% url 'signup' %}">Signup</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>